@font-face {
  font-family: 'Pangram';
  src: url("src/fonts/Pangram-ExtraBold.woff") format('woff');
}

body {
  font-family: 'Red Hat Text', sans-serif;
}

h1 {
  font-family: 'Pangram';
  font-weight: 900;
  font-size: 3.5em;
}

h2 {
  font-family: 'Pangram';
  font-weight: 900;
  font-size: 2.5em;
}

hr {
  border-top: 5px solid rgb(0, 0, 0);
}

.btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.btn-light {
  background: #f2f2f2;
}

.btn-held {
  background: #bbb;
  border: #bbb;
}

.have-selector {
  width: 175px;
  height: 133px;
}

.left-selector {
  width: 175px;
  height: 133px;
}

.have-container {
  display: none;
}

.left-container {
  display: none;
}

.form-control {
  border-radius: 0px;
}

.thicc {
  font-weight: bold;
}

.mono {
  font-family: 'Fira Mono', monospace;
  font-weight: 700;
}

.sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #c4c4c4;
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: 20px;
}

.main {
  padding: 30px;
}

.grid {
  width: 1000px;
  height: 1000px;
}